.nav {
    grid-area: n;
    background-color: #755fa0;
    padding: 20px;
}
.item{
    color:white;
    text-decoration: none;
}

.active{
    color: gold;
}
img{
    width: 30px;
    border-radius: 20px;
    align-items:center;
}
.friends{
    display: flex;
    flex-direction:row;
   align-items:flex-start;
}
.frend{


}
