.app-wrapper {
    margin: 0 auto;
    width: 1200px;
    display: grid;

    grid-template-areas:
            "h h"
            "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;

}

.header {
    grid-area: h;
    background-color: cadetblue;
}
.header img{
    width: 80px;
    height: 60px;
}

.nav {
    grid-area: n;
    background-color: #755fa0;
}

.content {
    grid-area: c;
    background-color: #6bcb7b;
}
.content img{
    width: 100%;
    height:180px ;
}
