.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.dialogsItems {
    padding: 10px;
}
.dialogsItems .active{
    color: gold;
}
.messages {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.message {

}
.image{
    width: 40px;
    border-radius: 30px;
    padding-right: 10px;
}
.dialogsNameAndIcon{
    display: flex;
    align-items:center;
    padding: 5px;
}